<html>
	<body>
		<form action="/auth/google" method="POST">
			<button type="submit"><img src="https://socrative-production-static-web.s3.amazonaws.com/img/google.png" width="151" height="24"></button>
		</form>
	</body>
</html>